header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 2rem 0 1rem 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, backdrop 0.3 ease;
}

/* background: rgba(20, 20, 20, 0.85); */

header.scrolled {
    backdrop-filter: blur(30px);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.logo {
    display: flex;
    align-items: center;
}

.svg-logo {
    filter: drop-shadow(0px 0px 5px #ffb347);
}

.menu-theme {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.menu {
    display: flex;
    justify-content: center;
    flex: 1;
    transition: all 0.3s ease;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2.5rem;
}

.menu li {
    display: inline;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    transition: color 0.3s, font-weight 0.3s;
}
.menu a:hover,
.menu a.active {
    font-weight: 700;
    color: /* var(--primary) */ #ec9a12;
}

.theme {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: var(--secondary);
    border-radius: 2rem;
    padding: .1rem;
}

.theme button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.theme img {
    /* width: 2rem;
    height: 2rem; */
    border-radius: 50%;
    background-color: var(--secondary);
    padding: .3rem;
}


/* ********************************** */

.switch {
position: relative;
display: inline-block;
width: 50px;
height: 25px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: var(--secondary);
transition: 0.4s;
border-radius: 34px;
}

.slider::before {
position: absolute;
content: "";
height: 18px;
width: 18px;
background-color: var(--primary);
transition: 0.4s;
border-radius: 50%;
left: 4px;
top: 50%;
transform: translateY(-50%);
}

.theme-icon {
position: absolute;
width: 15px;
height: 15px;
transition: 0.4s;
}

.theme-icon.sun {
left: 5px;
top: 50%;
transform: translateY(-50%);
}

.theme-icon.moon {
right: 5px;
top: 50%;
transform: translateY(-50%);
}

input:checked + .slider {
background-color: /* var(--tertiary) */ #ffffff;
}

input:checked + .slider::before {
transform: translate(24px, -50%);
}

input:not(:checked) + .slider .moon {
opacity: 0;
}

input:checked + .slider .sun {
opacity: 0;
}

/* Móviles pequeños y grandes (hasta 640px) */
@media (max-width: 640px) {
    
}

/* Tabletas y pantallas pequeñas (641px - 1024px) */
@media (min-width: 641px) and (max-width: 1024px) {

}

/* Laptops y pantallas grandes (1025px - 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {

}

/* Pantallas muy grandes (1281px en adelante) */
@media (min-width: 1281px) {

}