:root {
  font-size: 62.5%;
  font-family: "Noto Sans", system-ui, Avenir, Helvetica, Arial, sans-serif; /* noto sans agregar */
  line-height: 1.5;
  font-weight: 400;
  color: white;

  --background: #182339;
  --primary: #f1b24a;
  --secondary: #232741;
  --tertiary: #0C0D16;
  --quaternary: #ec9a12;
  --quinary: #1E1E1E;
  --dark-gradient: #06090e;
  --text-color: white;

  background: linear-gradient(var(--dark-gradient), var(--background));
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

section {
  width: 40%;
  margin: 8rem auto;
}

h2 {
  font-size: 5rem;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 2.5rem;
  color: var(--primary);
}

.title {
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

footer {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 5rem 0 2rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}

/* ************************************************ */

/* Móviles pequeños y grandes (hasta 640px) */
@media (max-width: 640px) {
  section {
    width: 100%;
  } 
}

/* Tabletas y pantallas pequeñas (641px - 1024px) */
@media (min-width: 641px) and (max-width: 1024px) {
  section {
    width: 80%;
  }  
}

/* Laptops y pantallas grandes (1025px - 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
  section {
    width: 70%;
  }
}

/* Pantallas muy grandes (1281px en adelante) */
@media (min-width: 1281px) {
  section {
    width: 60%;
  }
}