:root {
  font-size: 62.5%;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);

  --background: #182339;
  --primary: #f1b24a;
  --secondary: #232741;
  --tertiary: #0C0D16;
  --quaternary: #ec9a12;
  --quinary: #707080;
  --gradient: #06090e;
  --text-color: #ffffff;

  background: linear-gradient(var(--gradient), var(--background));
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

section {
  width: 40%;
  margin: 8rem auto;
}

h2 {
  font-size: 4rem;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 2.8rem;
  color: var(--primary);
}

.title {
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

footer {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 5rem 0 2rem 0;
  font-size: 1.7rem;
  font-weight: 500;
}

/* ************************************************ */

@media (max-width: 640px) {
  section {
    width: 90%;
  } 
  footer p {
    text-align: center;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  section {
    width: 85%;
  }  
}

@media (min-width: 1025px) and (max-width: 1280px) {
  section {
    width: 70%;
  }
}

@media (min-width: 1281px) {
  section {
    width: 90rem;
    /* width: 60%; */
  }
}